{% extends 'base.html.twig' %}

{% block body %}


<!DOCTYPE html>
<html>
<head>
	<title>Creation d'article</title>
	<meta charset="utf-8">
</head>
<body>
		<h2>Creer un article</h2>

		{{ form_start(formArticle) }}

		{{ form_row(formArticle.title,{'attr':{'placeholder': "Titre de l'article"}}) }}
		{{ form_row(formArticle.content,{'attr':{'placeholder': "Contenu de l'article"}}) }}
		{{ form_row(formArticle.image,{'attr':{'placeholder': "Image de l'article"}}) }}

		<button type="submit" class="btn btn-success">
			 {% if editMode %}
			 Enregistrer les modification
			 {% else %}
		Ajouter l'article
			{% endif %}

	</button>

		{{ form_end(formArticle) }}
</body>
</html>


{% endblock %} 