{% extends 'base.html.twig' %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
	<title>Home Blog</title>
	<meta charset="utf-8">
</head>
<body>
	<div align="center">
		<h1>Welcome in my blog</h1> <p>(Non je deconne je parle pas Anglais, bienvenue sur mon blog ...)</p>
	</div>
		
		<img src="https://start.lesechos.fr/images/2016/10/13/6130_1476355083_developpeur-fiche-metier_970x545p.jpg" class="rounded mx-auto d-block"">
		
	


</body>
</html>

{% endblock %}