{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}


<!DOCTYPE html>
<html>
<head>
	<title>Articles</title>
	<meta charset="utf-8">
</head>
<body>
	<section class="articles">
		{% for article in articles %}
		<article>
			
			<h2>{{ article.title }}</h2>
			<a href="{{ path('blog_show', {'id': article.id}) }}"><img src="{{  article.image }}"></a>
			<p>{{ article.content | raw() }}</p>
			<p>Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }}</p>
			
		</article>
		{% endfor %}
	</section>
</body>
</html>

{% endblock %}
