{% extends 'base.html.twig'  %}

{% block body %}
	<!DOCTYPE html>
	<html>
	<head>
		<title>Article</title>
		<meta charset="utf-8">
	</head>
	<body>
			<h2>{{ article.title }}</h2>
			<img src="{{ article.image }}">
			<p>{{ article.content | raw() }}</p>
	</body>
	</html>
{% endblock %}